<!-- main-area -->
<main class="main--area">

    <!-- breadcrumb-area -->
    <section class="breadcrumb-area breadcrumb__hide-img" data-background="assets/img/bg/breadcrumb_bg02.jpg">
        <div class="container">
            <div class="breadcrumb__wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb__content">
                            <h2 class="title">Sign in</h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">sign in</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-area-end -->

    <!-- login-area -->
    <section class="contact-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <div class="contact__form-wrap">
                        <form [formGroup]="loginForm" id="contact-form">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-grp" *ngFor="let item of formData;">
                                        <div class="password-input-wrapper">
                                          <input [formControlName]="item.name" [type]="item.name === 'password' ? (isPasswordVisible ? 'text' : 'password') : 'text'" [placeholder]="item.placeholder" required>
                                          <!-- Show the eye icon only for the password field -->
                                          <i *ngIf="item.name === 'password'" class="password-toggle-icon bi" [ngClass]="{'bi-eye': !isPasswordVisible, 'bi-eye-slash': isPasswordVisible}" (click)="togglePasswordVisibility()"></i>
                                        </div>
                                        <div *ngIf="loginForm.get(item.name)?.hasError('required') && (loginForm.get(item.name)?.touched || loginForm.get(item.name)?.dirty)" class="error-msg">
                                          {{item.emptyErrorMsg || "This field cannot be empty"}}
                                        </div>
                                        <div *ngIf="loginForm.get(item.name)?.hasError('pattern') && loginForm.get(item.name)?.dirty" class="error-msg">
                                          {{item.errorMsg || "Please enter a valid " + item.name}}
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                    <button type="button" (click)="formSubmit()" class="submit-btn" [disabled]="loginForm.invalid">Sign In</button>
                                </div>
                                <div class="col-md-12 mt-3" style="text-align: right;">
                                    <span>Forgot your password? <a href="#">Reset it here.</a></span>
                                </div>
                           </div>
                           <div class="row">
                            <div class="col-md-12 mt-3" style="text-align: right;">
                                <span>Don't have account? <a href="/auth/register">Create Account</a></span>
                            </div>
                           </div>
                        </form>
                        <p class="ajax-response"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login-area-end -->

</main>
<!-- main-area-end -->