#logo_name {
  max-width: 190px;
}

.profile-image {
  width: 100%;
  text-align: center;
  margin-block: 20px;
}

.profile-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px
}

.wallet{
  padding: 20px 25px;
}

.withdraw-btn{
  margin: 10px 20px;
  background: transparent;
  border: 1px solid var(--tg-theme-primary);
  border-radius: 10px;
  padding: 0px 10px;
}