.active{
    background-color: #FFBE18;
}

.participate-btn{
    display: inline-block;
    background: #0c1217;
    text-transform: uppercase;
    font-family: var(--tg-heading-font-family);
    font-weight: var(--tg-fw-bold);
    font-size: 13px;
    color: var(--tg-body-color);
    padding: 12px 45px;
    letter-spacing: 1px;
    border-radius: 6px;
}